################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/word-Adventure-Portfolio/word-Adventure-Portfolio/obj
/word-Adventure-Portfolio/.vs/word-Adventure-Portfolio/CopilotIndices/0.2.1657.32929
/.vs
/wordAdventure/.vs/wordAdventure
